mixin netItemSingle(type, innerClass, closerClass, city, image, galleryImage1, galleryImage2, galleryImage3, address, phoneLink, phone, timing, link, reviewImage, reviewText, reviewAuthor, mapLink)
    li(class="net-stores__item single " +type)
        <!--If no info inside-->
        p.net-item__disclaimer Информация об этой винотеке скоро появится
        <!--Front side of card-->
        div(class="net-item__inner " +innerClass)
            picture.net-item__frame
                source(srcset="static/images/content/" +image +".webp" type="image/webp")
                img(src="static/images/content/" +image + ".jpg" alt="Винная студия - " +city).net-item__frame-image
            h3.net-item__title=city
        <!--Back side of card-->
        .net-item__content
            button(type="button" class="net-item__content-closer " +closerClass)
            
            h2.net-item__address=address
            
            .net-item__gallery
                .net-item__slider.net-swiper-container
                    .swiper-wrapper
                        picture.net-item__slider-item.swiper-slide
                            source(srcset="static/images/content/" +galleryImage1 +".webp" type="image/webp")
                            img(src="static/images/content/" +galleryImage1 + ".jpg" alt="Винная студия - " +city)
                        picture.net-item__slider-item.swiper-slide
                            source(srcset="static/images/content/" +galleryImage2 +".webp" type="image/webp")
                            img(src="static/images/content/" +galleryImage2 + ".jpg" alt="Винная студия - " +city)
                        picture.net-item__slider-item.swiper-slide
                            source(srcset="static/images/content/" +galleryImage3 +".webp" type="image/webp")
                            img(src="static/images/content/" +galleryImage3 + ".jpg" alt="Винная студия - " +city)
                .net-item__gallery-controls
                    button(type="button").net-item__gallery-prev
                    button(type="button").net-item__gallery-next
            <!--Информация о винотеке-->
            ul.net-item__list
                li.net-item__line
                    b.net-item__name Адрес
                    span.net-item__data=address
                li.net-item__line
                    b.net-item__name Телефон
                    a(href="tel:+" +phoneLink target="_self").net-item__data=phone
                li.net-item__line
                    b.net-item__name Время работы
                    span.net-item__data=timing
                li.net-item__line
                    b.net-item__name Instagram
                    a(href="#" target="_self").net-item__data
                        i.fab.fa-instagram
            <!--Отзыв-->
            .net-item__review
                picture.net-item__review-frame
                    source(srcset="static/images/content/" +reviewImage +".webp" type="image/webp")
                    img(src="static/images/content/" +reviewImage + ".jpg" alt="Винная студия - " +city)
                .net-item__review-info
                    p.net-item__review-text=reviewText
                    span.net-item__review-author=reviewAuthor
            <!--Управление-->
            .net-item__controls
                button(type="button").net-item__controls-btn.js-vacant Работать здесь
                button(type="button").net-item__controls-btn.js-map Как добраться
                a(href="#" target="_self").net-item__controls-link Франшиза
            .net-item__map
                .net-item__map-frame#map
            
mixin netItemMultiple(type, city, image)
    li(class="net-stores__item multiple " +type)
        <!--Front side of card-->
        .net-item__inner.js-expander
            picture.net-item__frame
                source(srcset="static/images/content/" +image +".webp" type="image/webp")
                img(src="static/images/content/" +image + ".jpg" alt="Винная студия - " +city).net-item__frame-image
            h3.net-item__title=city
        <!--Back side of card-->
        
        .net-item__content
            ul.net-item__sublist
                +netItemSingle('net-subitem sub-collapsed', 'sub-expander', 'sub-collapser','Беговая', 'store-1', 'gallery-1', 'gallery-1', 'gallery-1', 'г. Владивосток, ул. Пограничная дом 10', '74232229292', '+7 (423) 222‒92‒92', 'Пн-вс 11:00-22:00', '#', 'review-1', 'Портфель SimpleWine один из наиболее обширных и качественных не только в России, но и в Европе. В нашем бутике представлено 600 наименований вин и крепких напитков со всех уголков мира. Мы тщательно выбираем алкоголь, соответствующий предпочтениям гостей на любой вкус. Очень приятно быть частью такой компании и развивать это направление в своём городе. ', '— Хворостова Наталия', '')
                +netItemSingle('net-subitem sub-collapsed', 'sub-expander', 'sub-collapser',  'Восточная', 'store-2', 'gallery-1', 'gallery-1', 'gallery-1', 'г. Владивосток, ул. Пограничная дом 10', '74232229292', '+7 (423) 222‒92‒92', 'Пн-вс 11:00-22:00', '#', 'review-1', 'Портфель SimpleWine один из наиболее обширных и качественных не только в России, но и в Европе. В нашем бутике представлено 600 наименований вин и крепких напитков со всех уголков мира. Мы тщательно выбираем алкоголь, соответствующий предпочтениям гостей на любой вкус. Очень приятно быть частью такой компании и развивать это направление в своём городе. ', '— Хворостова Наталия', '')
                +netItemSingle('net-subitem sub-collapsed', 'sub-expander', 'sub-collapser',  'Садовая', 'store-1', 'gallery-1', 'gallery-1', 'gallery-1', 'г. Владивосток, ул. Пограничная дом 10', '74232229292', '+7 (423) 222‒92‒92', 'Пн-вс 11:00-22:00', '#', 'review-1', 'Портфель SimpleWine один из наиболее обширных и качественных не только в России, но и в Европе. В нашем бутике представлено 600 наименований вин и крепких напитков со всех уголков мира. Мы тщательно выбираем алкоголь, соответствующий предпочтениям гостей на любой вкус. Очень приятно быть частью такой компании и развивать это направление в своём городе. ', '— Хворостова Наталия', '')
            button(type="button").net-item__content-closer.js-collapser

mixin artAuthor(image, name, link)
    li.authors-art__item
        picture.authors-art__frame
            source(srcset="static/images/content/" +image +"-mb.webp" type="image/webp")
            img(src="static/images/content/" +image +"-mb.jpg" alt="" +name).authors-art__frame-image
        a(href="" +link target="_self").authors-art__link=name
